
.screen-message {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Garamond, serif;
    font-size: 1.5em;
    text-align: center;
    color: var(--accent);
    font-weight: bold;
}

.cat-carousel img {
    flex-shrink: 0;
    object-fit: cover;
    object-position: top;
    border-radius: 1em;
    cursor: pointer;
}

.no-matches {
    max-width: 20vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.cat-carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
    padding: 4px;

    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cat-carousel::-webkit-scrollbar {
    display: none;
}

.cat-carousel .selected {
    outline: 4px solid var(--accent);
}