.landing_title {
    padding-top: 200px;
}

.buttons_backdrop {
    background-color: rgb(255, 228, 245);
    margin: auto;
    text-align: center;
    width: 90%;
    border-radius: 5px;
}

.buttons_center {
    
}